files:
  "/etc/nginx/nginx.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      user nginx;
      worker_processes auto;
      error_log /var/log/nginx/error.log;
      pid /var/run/nginx.pid;

      events {
          worker_connections 1024;
          types_hash_max_size 2048;
          types_hash_bucket_size 128;
      }

      http {
          include /etc/nginx/mime.types;
          default_type application/octet-stream;
          client_max_body_size 20M;
          
          server {
              listen 80;
              client_max_body_size 20M;
          }
      }