packages:
  yum:
    python3-devel: []

container_commands:
  01_create_upload_directory:
    command: mkdir -p /var/app/current/uploads /var/app/current/models
    ignoreErrors: true
  
  02_set_permissions:
    command: chmod -R 755 /var/app/current/uploads /var/app/current/models
    ignoreErrors: true